numpy
scipy
matplotlib
pandas
pyopengl
pyglet
pillow
moviepy
lxml
openpyxl
xlrd
configobj
pyyaml
gevent
greenlet
msgpack-python
psutil
tables
requests
pyosf
cffi
pysoundcard
pysoundfile
seaborn
psychopy_ext
python-bidi
psychopy
